*{
	margin: 0% 10% 0 10%;
	/* background-image: url(images/); */
}
.container{
	border: 5px green solid;
	background: white;
}
.section1{
	border: 5px red solid;

}
.insideSection1{
	border: 5px yellow solid;
}
.section2{
	border: 5px blue solid;
	background: #E8FBFB;
	padding: 5px 5px;
	margin-top: 10px;

}
.insideSection2{

	border: 5px violet solid;

}
.section3{
	border: 5px blue solid;
	background: #E8FBFB;
	padding: 5px 5px;
	margin-top: 10px;

}