
body{
	margin: 0% 10% 0 10%;
	background-image: url(images/113.jpg);
}
.container{
	border: 10px white solid;
	background: white;
}
.section1{

	background: #A8F0F0;
}
.section1Ins{
	
}
.h1-1{
	text-align: right;
	padding: 0;
}
.h2{
	text-align: right;
	padding: 0;
}
.insideSection1{
	

	font-size: 12pt;
}
.section2{
	min-height: 220px;
	border: 4px #C2E9E9 solid;
	background: #E8FBFB;
	padding: 5px 5px;
	margin-top: 10px;

}
.insideSection2{

	border-bottom: 2px rgb(109, 109, 233) dashed;

}
.section3{
	min-height: 220px;
	border: 4px #C2E9E9 solid;
	background: #E8FBFB;
	padding: 5px 5px;
	margin-top: 10px;

}
.ps{
	display: block;
}
.img{
	float: right;
	overflow: hidden;
}